@{
    ViewData["Title"] = "权限不足";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>您的权限不足...</p>
    <p>哎呀！您不能操作此模块，</p>
    <p>建议您联系管理员开通此模块的操作权限！</p>
    <a href="javascript:history.back(-1)">点击返回</a>
</div>