@model Moetech.Zhuangzhou.Models.MachineInfo

@{
    ViewData["Title"] = "编辑虚拟机";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MachineId" />
            <div class="form-group">
                <label asp-for="MachineIP" class="control-label"></label>
                <input asp-for="MachineIP" class="form-control" />
                <span asp-validation-for="MachineIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineSystem" class="control-label"></label>
                <input readonly="readonly" asp-for="MachineSystem" class="form-control" />
                <span asp-validation-for="MachineSystem" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="MachineDiskCount" class="control-label"></label>
                <input asp-for="MachineDiskCount" class="form-control" />
                <span asp-validation-for="MachineDiskCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineMemory" class="control-label"></label>
                <input asp-for="MachineMemory" class="form-control" />
                <span asp-validation-for="MachineMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineState" class="control-label"></label>
                <select asp-for="MachineState" class="form-control" disabled="disabled">
                    <option value="0">空闲</option>
                    <option value="1">申请中</option>
                    <option value="2">使用中</option>
                </select>
                <span asp-validation-for="MachineState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineUser" class="control-label"></label>
                <input asp-for="MachineUser" class="form-control" />
                <span asp-validation-for="MachineUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachinePassword" class="control-label"></label>
                <input asp-for="MachinePassword" class="form-control" />
                <span asp-validation-for="MachinePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
